.container{
    border: 1px solid red
    ;
    width: 70%;
    border: none;
    padding: 45px;
    margin: 10px auto;
}

.card{
    border: 1px solid red;
    padding: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
